* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background: #eee;
    padding: 20px;
    text-align: center;
}
footer {
    background: #eee;
    padding: 10px;
    text-align: center;
}

main {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    max-width: 80%;
    margin: 2rem auto;
}

/* Styling hero */
.hero {
    max-width: 50rem;
    margin-bottom: 3rem;
}

.hero h1{
    font-size: 4rem;
    margin-bottom: .5rem;
}

.hero p, ul{
    color: #555;
    opacity: .8;
    line-height: 1.5rem;
}

/* Styling grid*/
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 2rem;
}

.grid div {
    background: #eee;
    height: 10rem;
    /* centering the text */
    display: flex;
    align-items: center;
    justify-content: center;
}

.article {
    float: right;
    flex-grow: 999;
    flex-basis: 0;
}

@media screen and (min-width: 791px) {
    .sticky 
    { 
        position:sticky; 
        overflow: auto;
        /* float: left; */
        height: min-content;
        width: 10rem;
        flex-grow: 1;
        flex-basis: 300px; 
        position: sticky;

    /* centering the text     
    display: inline;
    align-items: center;
    justify-content: center;*/
    }
}

.sticky {
    /* float: left; */
    background: #eee;
    flex-grow: 1;
    top: 2rem;
    padding: 10px;
}

.me {
    max-width: 100%;
}
