* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background: #eee;
    padding: 20px;
    text-align: center;
    font-size: 3.5rem;
    margin-bottom: .5rem;
}
footer {
    background: #eee;
    padding: 10px;
    text-align: center;
}

main {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    max-width: 80%;
    margin: 2rem auto;
}

.buttons button {
    display: block;
    width: 100%;
    font-size: medium;
    margin-top: 5px;
    margin-bottom: 5px;
}
.buttons link {
    text-decoration: none;
}

/* Styling hero */
.hero {
    max-width: 55rem;
    margin-bottom: 3rem;
}

.hero p, ul{
    color: #555;
    opacity: .8;
    line-height: 1.5rem;
    margin-top: 0.5rem;
}

.article h1{
    font-size: xx-large;
    padding-bottom: 1rem;
}

/* Styling grid*/
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 2rem;
}

.grid div {
    background: #eee;
    height: 15rem;
    /* centering the text */
    
    align-items: top;
    justify-content: center;
}

.grid div:hover {
    border: 1px solid #777;
}

.grid p {
    padding: 1.5rem;
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
}

.grid img {
    height: 10rem;
    width: 100%;
    object-fit: cover;
}

.gallery {
    margin: 5px;
}

.article {
    float: right;
    flex-grow: 999;
    flex-basis: 0;
}

@media screen and (min-width: 791px) {
    .sticky 
    { 
        position:sticky; 
        overflow: auto;
        /* float: left; */
        height: min-content;
        width: 10rem;
        flex-grow: 1;
        flex-basis: 300px; 
        position: sticky;

    /* centering the text     
    display: inline;
    align-items: center;
    justify-content: center;*/
    }
}

.sticky {
    /* float: left; */
    background: #eee;
    flex-grow: 1;
    top: 2rem;
    padding: 10px;
}

.me {
    max-width: 100%;
}
